input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body{
    background-color: #e0e0e0;
}

form {
    Padding-top: 5%;
}

h1{
    font-weight: 300%;
    font-size: 400%;
}

.error{
}

.navbarcolor{

}

.control {
    color:#000 !important;
    padding:1%;
    font-size:250%;
}

label {
    color: #000000; !important;
    font-size: 18px;
    font-weight: 500;
}

.line{
    border-bottom : 2px solid #00aa8e;
}

.outter{
    margin: 5px;
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.footer{
    color: white;
    padding-left:10%;
    background-color: #01b194;
}

.btn-verzend{
    margin-top: 15px;
}

textarea {
    resize: none;

}

.btn-style{
    background-color: #115f5d;
    color: #fff;
}

.btn-style:hover{
    color: #fff;
    background-color:#00aa8e;
}